    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Account</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Account v1</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row">
          <div class="col-12">
            <div class="card card-info">
              <div class="card-header">
                <h3 class="card-title">Data Account</h3>
                <div class="card-tools">
                  <ul class="nav nav-pills ml-auto">
                    <li class="nav-item">
                      <a routerLink="/account/add">
                        <button type="button" class="btn btn-warning btn-sm"><i class="fa fa-plus-square"></i> Add Account</button>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body">

                <table id="table" *ngIf="ListData.length" datatable [dtOptions]="dtOptions" class="table table-bordered table-striped" width="100%">
                  <thead>
                    <tr>
                      <th>No</th>
                      <th>Name</th>
                      <th>Username</th>
                      <th>Level</th>
                      <th>Created</th>
                      <th>Modified</th>
                      <th>IsActive</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let data of ListData; index as i;">
                      <td>{{ i + 1 }}</td>
                      <td>{{ data.name }}</td>
                      <td>{{ data.username }}</td>
                      <td>{{ data.level }}</td>
                      <th>{{ data.created }}</th>
                      <th>{{ data.modified }}</th>
                      <th>{{ data.isactive }}</th>
                      <td>
                        <a routerLink="/account/edit/{{data.id}}" data-toggle="tooltip" title="Edit">
                          <button type="button" class="btn btn-warning"><i class="fa fa-edit"></i></button>
                        </a>
                        <a data-toggle="tooltip" title="Delete" (click)="delete(data)">
                          <button type="button" class="btn btn-danger"><i class="fa fa-trash"></i></button>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                  <tfoot>
                    <tr>
                      <th>No</th>
                      <th>Name</th>
                      <th>Username</th>
                      <th>Level</th>
                      <th>Created</th>
                      <th>Modified</th>
                      <th>IsActive</th>
                      <th>Action</th>
                    </tr>
                  </tfoot>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>
        <!-- /.row -->

      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->