    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Account</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Account v1</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row">
          <div class="col-12">
            <!-- Horizontal Form -->
            <div class="card card-info">
              <div class="card-header">
                <h3 class="card-title">Horizontal Form</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form class="form-horizontal">
                <div class="card-body">
                  
                  <div class="form-group row">
                    <label for="_name_" class="col-sm-2 col-form-label">Name</label>
                    <div class="col-sm-10">
                      <input type="text" name="_name_" class="form-control" id="_name_" placeholder="Name" #accountName>
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="_username_" class="col-sm-2 col-form-label">Username</label>
                    <div class="col-sm-10">
                      <input type="text" name="_username_" class="form-control" id="_username_" placeholder="Username" #accountUsername>
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="_level_" class="col-sm-2 col-form-label">Level</label>
                    <div class="col-sm-10">
                      <input type="text" name="_level_" class="form-control" id="_level_" placeholder="Level" #accountLevel>
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="_created_" class="col-sm-2 col-form-label">Created</label>
                    <div class="col-sm-10">
                      <input type="date" name="_created_" class="form-control" id="_created_" placeholder="Created" #accountCreated>
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="_modified_" class="col-sm-2 col-form-label">Modified</label>
                    <div class="col-sm-10">
                      <input type="date" name="_modified_" class="form-control" id="_modified_" placeholder="Modified" #accountModified>
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="_isactive_" class="col-sm-2 col-form-label">IsActive</label>
                    <div class="col-sm-10">
                      <select name="_isactive_" id="_isactive_" class="form-control" #accountIsactive>
                        <option value="true">True</option>
                        <option value="false">False</option>
                      </select>
                    </div>
                  </div>

                </div>
                <!-- /.card-body -->
                
                <div class="card-footer">
                  <div class="form-group row">
                    <div class="col-md-6 col-sm-6 offset-md-3">
                      <button type="button" class="btn btn-warning" (click)="goBack()">Cancel</button>
                      <button type="reset" class="btn btn-info" id="_reset_">Reset</button>
                      <button type="submit" class="btn btn-success" (click)="add(accountName.value, accountUsername.value, accountLevel.value, accountCreated.value, accountModified.value, accountIsactive.value); accountName.value=''; accountUsername.value=''; accountLevel.value=''; accountCreated.value=''; accountModified.value=''; accountIsactive.value=''; ">Submit</button>
                    </div>
                  </div>
                </div>
                <!-- /.card-footer -->
              </form>
            </div>
            <!-- /.card -->
          </div>
        </div>
        <!-- /.row -->

      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->